@model cliente;

<div>
    <h1>Agregar Cliente</h1>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }

    <form asp-action="Submit" method="post">
        <div>
            <label>Nombre:</label>
            <input asp-for="nombre" class="form-control" />
            <span asp-validation-for="nombre" class="text-danger"></span>
        </div>
        <div>
            <label>Correo:</label>
            <input asp-for="email" class="form-control" />
            <span asp-validation-for="email" class="text-danger"></span>
        </div>
        <div>
            <label>Teléfono:</label>
            <input asp-for="telefono" class="form-control" />
            <span asp-validation-for="telefono" class="text-danger"></span>
        </div>
        <div>
            <label>Dirección:</label>
            <input asp-for="direccion" class="form-control" />
            <span asp-validation-for="direccion" class="text-danger"></span>
        </div>
        <div>
            <label>Adicionado Por:</label>
            <input asp-for="AdicionadoPor" class="form-control" />
            <span asp-validation-for="AdicionadoPor" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Guardar Cliente</button>
    </form>
</div>