@model Cliente;

<h2>Agregar Cliente</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<form asp-action="Submit" method="post">
    <div>
        <label>Nombre:</label>
        <input asp-for="Nombre" class="form-control" />
    </div>
    <div>
        <label>Correo:</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div>
        <label>Teléfono:</label>
        <input asp-for="Telefono" class="form-control" />
    </div>
    <div>
        <label>Dirección:</label>
        <input asp-for="Direccion" class="form-control" />
    </div>
    <div>
        <label>Adicionado Por:</label>
        <input asp-for="AdicionadoPor" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Guardar Cliente</button>
</form>
